.App {
    padding: 4rem 0;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

@media (max-width: 768px) {
    .container {
        display: block;
    }
}

.container h3 {
    font-size: 1.75rem;
    letter-spacing: .1rem;
    color: #444;
    margin-right: 2rem;
}

.container form input {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.container form input[type='text'] {
    width: 250px;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    border: 1px solid #fff;
    border-right: none;
}

@media (max-width: 768px) {
    .container form input[type='text'] {
        margin: 1rem 0;
    }
}

.container form input[type='text'].error {
    border-color: #f00;
}

.container form input[type='submit'] {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    background-color: #49a6e9;
    border: 1px solid #49a6e9;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}